.investors {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  align-items: center;
  padding-top: 24px;
}

.investors__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  //   max-width: 710px;
  max-width: 400px;
  margin-bottom: 123px;
  padding-left: 0;

  li {
    margin-top: 80px;
  }
}

@media (min-width: 41em) {
  .investors__list {
    padding: 0 80px;
    flex-direction: row;
    max-width: 1440px;

    li {
      margin-left: 38px;
      margin-top: 80px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
