.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/images/GradientBG.svg);
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 3.5em;
  transition: all 0.3s ease;
}

.top-title {
  font-family: Roboto;
  font-size: 2.5em;
  padding: 0 0.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  //   text-align: left;
  color: #ffffff;
  max-width: 710px;
  margin-top: 55px;
}

// .video-container {
//   position: relative;
//   padding-bottom: 56.25%;
//   padding-top: 35px;
//   height: 0;
//   overflow: hidden;
// }

// .video-container iframe,
// .video-container object,
// .video-container embed {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

.video-container {
  margin-bottom: 55px;
}

.brush {
  position: relative;
  height: 19.75em;
  transition: all 0.3s ease-in-out;
}

.mission-statement {
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 710px;
  margin-top: 32px;
  margin-bottom: 28px;
  padding: 0 0.5em;
}

.ms2 {
  margin: 0;
}

.glasses {
  position: relative;
  height: 12em;
  transition: transform 0.3s ease-in-out;
}

.vp {
  width: 100%;
  height: auto;
  margin-bottom: 55px;
}

@media (max-width: 43em) {
  .video-container {
    display: none;
  }
}

@media (min-width: 43em) {
  .top-title {
    font-size: 3.5em;
    padding: 0;
  }

  .mission-statement {
    padding: 0;
  }

  .vp {
    display: none;
  }
}

@media (min-width: 70em) {
  .brush {
    position: absolute;
    width: 60px;
    left: 60px;
    top: 789px;
    transition: all 0.3s ease-in-out;
    transform: rotate(47.53deg);
  }

  .glasses {
    position: absolute;
    left: 85.52%;
    right: -13.99%;
    height: 242.9442112519445px;
    width: 409.99999558643685px;
    top: 1111px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    transform: rotate(7deg);
  }
}

@media (min-width: 90em) {
  .mission {
    background-size: 100%;
    transition: all 0.3s ease-in-out;
  }
}
