.section-title {
  //   font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  color: #444444;
}

.title-bar {
  width: 40px;
  height: 5px;
  background: #01c9f0;
}

.black {
  background: #000000;
}
