.App {
  overflow-x: hidden;
}

.section-title {
  font-family: Roboto;
  font-size: 3.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;
  margin-top: 0;
}

.title-bar {
  width: 40px;
  height: 5px;
  background: #01c9f0;
}

.black {
  background: #000000;
}

// @media (min-size: );
